################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Transportations/Transportations/obj/Release/net6.0
/Transportations/Transportations/obj
/Transportations/Transportations/bin/Debug/net6.0
/Transportations/.vs/Transportations
/.vs
